:root {
    --cntrl-bg-color: #1f1f1f;
    --row-bg-color: #262626;
    --row-cntrl-bg-color: #404040;
    --ts-bg-color: #141414;
    --shadow-color: #000000;
    --text-color: #d4d4d4;
    --main-font: 'Roboto Mono', monospace;
}


.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Hotbar Controls*/
.hot-bar {
    background-color: var(--cntrl-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    overflow: hidden;
    z-index: 4;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}
.dropdown-content {
    position: absolute;
    background-color: var(--row-cntrl-bg-color);
    min-width: 150px;
    display: none;
    border-radius: 0 0.4rem 0.4rem 0.4rem;
}
.dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-label{
    background-color: var(--row-cntrl-bg-color);
}

/*Playback Controls*/
.playback {
    background-color: var(--cntrl-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    z-index: 3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-btn {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Audio Controls*/
.audio-control {
    background-color: var(--cntrl-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    z-index: 3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    box-shadow: inset 0px 0px 5px var(--shadow-color);
    padding: 10px;
    border-radius: 0.4rem;
    font-size: 25px;
}

/*Audio Manager*/
.audio-manager {
    background-color: var(--ts-bg-color);
    width: 100%;
    flex-grow: 1;
}


.row-data {
    background-color: var(--row-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: 300px;
    height: 100%;
    float: left;
    overflow: auto;
}
.row-controls {
    background-color: var(--row-cntrl-bg-color);
    height: 80px;
    justify-content: center;
    display: flex;
}
.row {
    position: relative;
    width: 100%;
    height: 80px;
}


.track-data {
    margin-left: 300px;
    height: 100%;
}
.track {
    position: absolute;
    height: 80px;
    border-radius: 0.2rem;
    overflow: hidden;
}
.track-graph {
    width: 100%;
    height: 80px;
    z-index: 1;
    position: relative;
    object-fit: contain;
}



.timescale {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: calc(100% - 230px);
}
.overlay {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - 230px);
}


/*Other*/
html {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
}
body {
    margin: 0;
    font-family: var(--main-font);
    color: var(--text-color);
    height: 100%;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
