:root {
    --cntrl-bg-color: #1f1f1f;
    --row-bg-color: #262626;
    --row-cntrl-bg-color: #404040;
    --ts-bg-color: #141414;
    --shadow-color: #000000;
    --text-color: #ff8800;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Playback Controls*/
.playback {
    background-color: var(--cntrl-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    z-index: 3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-btn {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Audio Controls*/
.audio-control {
    background-color: var(--cntrl-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    z-index: 3;
    width: 100%;
    height: 100px;
}

/*Audio Manager*/
.audio-manager {
    background-color: var(--ts-bg-color);
    width: 100%;
    flex-grow: 1;
}


.row-data {
    background-color: var(--row-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: 300px;
    height: 100%;
    float: left;
    overflow: auto;
}
.row-controls {
    background-color: var(--row-cntrl-bg-color);
    height: 80px;
    justify-content: center;
    display: flex;
}
.row {
    position: relative;
    width: 100%;
    height: 80px;
}


.track-data {
    margin-left: 300px;
    height: 100%;
}
.track {
    position: absolute;
    height: 80px;
    border-radius: 0.2rem;
    overflow: hidden;
}
.track-graph {
    width: 100%;
    height: 80px;
    z-index: 1;
    position: relative;
    object-fit: contain;
}



.timescale {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: calc(100% - 200px);
}
.overlay {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - 200px);
}


/*Other*/
html {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
}
body {
    margin: 0;
    color: var(--text-color);
    height: 100%;
}
